[Unit]
Description=guestbookd

[Service]
Type=simple
EnvironmentFile=/home/lizzy/src/guestbook/.env
WorkingDirectory=/home/lizzy/src/guestbook
ExecStart=/usr/bin/node /home/lizzy/src/guestbook/main.js /tmp/guestbookd.sock
Restart=always

[Install]
WantedBy=default.target
