[Unit]
Description=guestbookd
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/lizzy/src/guestbook/.env
WorkingDirectory=/home/lizzy/src/guestbook
ExecStart=/usr/bin/node /home/lizzy/src/guestbook/main.js

[Install]
WantedBy=multi-user.target
